 body{
        box-sizing: border-box;
       }
       a{
        text-decoration: none;
        display: block;
        text-align: center;
        margin-top: 10px;
       }
       input{
        display: block;
        margin:10px auto;
        width: 330px;
        padding: 16px;
        border: 1px solid gray;
        border-radius: 5px;
       } 
       input::placeholder{
        font-size: 16px;
       }
       input:focus::placeholder{
        color: grey;
       }
       input:focus{
        border: 1px solid #0866ff;
        outline: 1px solid #0866ff;
        box-shadow: 0px 0px 1px #0866ff;
       }
       button{
        background-color: #0866ff;
        border: none;
        width: 364px;
        padding: 16px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        margin:15px auto;
        border-radius: 5px;
        display: block;
        font-weight: bold;
       }
       button:hover{
        background-color: #3874d3;
       }
       .create{
        background-color: green;
        width: 250px;
        margin-left: 70px;
        display: block;
       }
       .create:hover{
        background-color: rgb(65, 178, 65);
       }
       .maincontainer{
        width: 400px;
        height: 300px;
        background-color: #fff;
        padding: 15px;
        border: 1px solid black;
        border-radius: 7px;
       }
       #heading{
        color: #0866ff;
        font-size: 70px;
        font-weight: bold;
        margin: auto;
       }
       #boding{
        font-size: 30px;
        font-weight: bold;
        margin: auto;
       }
       .majorcontainer{
        display: flex;
        margin:180px auto 0;
        width: 80%;
        justify-content: space-between;
       }